<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing your review</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit your review</h1>
    <form action="/games/<%= game._id %>/reviews/<%= review._id %>/?_method=PUT" method="POST">
        <label for="content">Review:</label>
        <textarea name="content" id="content" required ><%= review.content %></textarea>
        <label for="rating">Rating:</label>    
        <input type="number" name="rating" id="rating" min="0" max="5" required value="<%= review.rating %>">/5
        <button type="submit">Update Review</button>
    </form>
</body>
</html>