<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Game Titles</title>
</head>
<body>
  <% if (user) { %>
    <h1>Welcome to the Gamer Reviews, <%= user.username %>!</h1>
    <p>
      <a href="/auth/sign-out">Sign out</a>
    </p>
    <% } else { %>
      <h1>Welcome to the Gamer Reviews, guest.</h1>
      <p>
        <a href="/auth/sign-up">Sign up</a> or
        <a href="/auth/sign-in">Log in</a>.
      </p>
      <% } %>
      <h1>Game Titles</h1>
      <div class="game-titles">
        <% games.forEach(game => { %>
          <div class="game-card">
            <a href="/games/<%= game._id %>"><%= game.name %></a>
            <img class="index-poster" src="<%= game.photoUrl %>" alt="<%= game.name %> poster art" />
          </div>
        <% }) %>
      </div>
</body>
</html>