<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Reviews</title>
</head>
<body>
    <div class="detail-navlink">
    <%- include('../partials/_navbar.ejs') %>
    </div>
    <h1><%= game.name %></h1>
    <img class="details-poster" src="<%= game.photoUrl %>" alt="<%= game.name %> poster art" />
    <div class="game-somethin">
    <h2>Genre: <%= game.genre %></h2>
    <p>
        <%= game.description %>
    </p>
    </div>
    <div class="review">
    <form class="review-form"  action="/games/<%= game._id %>/reviews" method="POST">
        <label for="content">Review:</label>
        <textarea class="review-box" name="content" id="content" rows="4" cols="50" maxlength="200" style="resize: none;" required placeholder="Type here..."></textarea>

        <label for="rating">Rating:</label>    
        <input class="rating" type="number" name="rating" id="rating" min="0" max="5" required>/5

        <button class="submit" type="submit">Create Review</button> 
        <% if (typeof message !== 'undefined') { %>
         <span class="error-message"><%= message %></span>
        <% } %>
    </form>
    <% game.reviews.forEach(review => { %>
    <div class="review-review">
        <div class="user-detail">
        <p><%= review.rating %>/5</p>
        <p><%= review.username %></p>
        </div>
        <p><%= review.content %></p>
        </div>
        <% if (user && user._id == review.user._id) { %>
            <div class="review-buttons">
            <a class="edit-link" href="/games/<%= game._id %>/reviews/<%= review._id %>/edit">Edit this review</a>
            <form action="/games/<%= game._id  %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <button class="delete-button" type="submit">Delete this review</button>
            </form>    
            </div>
        <% } %>
    <% }) %>

</body>
</html>